{% extends 'base.html.twig' %}

{% block title %}Mon prof chez moi{% endblock %}

{% block body %}
    <div class="rs-slider main-home">
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="0" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
            <div class="slider-content slide1">
                <div class="container">
                    <div class="content-part">
                        <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">{{ cover.titre }}</div>
                        <h1 class="sl-title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">Online Courses From Leading Experts</h1>
                        <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                            <a class="readon orange-btn main-home" href="#">Find Courses</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-content slide2">
                <div class="container">
                    <div class="content-part">
                        <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">Start to learning today</div>
                        <h1 class="sl-title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">Explore Interests and Career With Courses</h1>
                        <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                            <a class="readon orange-btn main-home" href="#">Find Courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="rs-banner" class="rs-banner style1">
        <div class="container">
            <div class="banner-content text-center">
                <div class="desc mb-35 wow wow fadeInRight" data-wow-delay="900ms" data-wow-duration="3000ms">{{ cover.titre }}</div>
                <h1 class="banner-title wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="3000ms">{{ cover.description }}</h1>
                <div class="banner-btn wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="2000ms">
                    <div class="row search">
                        <div class="col-sm-12">
                            {% if domaines %}
                                <form action="">
                                    <div class="row">
                                        <div class="col-sm-4 mt-2">
                                            <select name="domaine" id="domaine" class="form-control select">
                                                <option value="">Quel domaine vous intéresse?</option>
                                                <option value=""></option>
                                                {% for domaine in domaines %}
                                                    <option value="{{ domaine.id }}">{{ domaine.libelle }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                        <div class="col-sm-4 mt-2">
                                            <select name="niveau" id="niveau" class="form-control select">
                                                <option value="">Quel niveau?</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mt-2">
                                            <select name="sexe" id="sexe" class="form-control select">
                                                <option value="">Les cours sont pour..</option>
                                                <option value="">Mon enfant</option>
                                                <option value="">Moi-même</option>
                                                <option value="">Une autre relation</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 mt-2">
                                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rs-degree style1 modify gray-bg pt-100 pb-70 md-pt-70 md-pb-40">
        <div class="container">
            <div class="row y-middle">
                {% if soutiens %}
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                            <div class="sub-title primary">Nos soutiens</div>
                            <h2 class="title mb-0">Scolaires & spécialisés</h2>
                        </div>
                    </div>
                    {% for soutien in soutiens %}
                        <div class="col-lg-4 col-md-6 mb-30 wow{% if loop.index % 2 %}  fadeInRight{% else %} fadeInDown{% endif %}">
                            <div class="degree-wrap">
                                <img src="{{ absolute_url(asset('upload/soutien/'~ soutien.media)) }}" alt="{{ soutien.titre }}">
                                <div class="title-part">
                                    <h4 class="title">{{ soutien.titre }}</h4>
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">{{ soutien.titre }}</a></h4>
                                    <p class="desc">{{ soutien.resume|slice(0,72)|raw }} ...

                                    <div class="btn-part">
                                        <a href="{{ absolute_url(path('frontend_soutien_show', {'slug': soutien.slug}) )}}">Voir détails</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>

    {% if presentation %}
        <div class="rs-cta main-home">
            <div class="partition-bg-wrap">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-6"></div>
                        <div class="col-lg-6 pl-70 md-pl-15 wow fadeInLeft">
                            <div class="sec-title3 mb-40">
                                <h2 class="title white-color mb-16">Pourquoi nous choisir ?</h2>
                                <div class="desc white-color pr-100 md-pr-0">
                                    {{ presentation.resume|raw }}...
                                </div>
                            </div>
                            <div class="btn-part">
                                <a class="readon orange-btn transparent" href="#">S'inscrire</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="rs-faq-part style1 orange-color pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 padding-0">
                    <div class=" main-part">
                        <div class="title mb-40 md-mb-15">
                            <h2 class="text-part">Les adultes</h2>
                        </div>
                        <div class="faq-content">
                            <div id="accordion" class="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne">Voulez-vous apprendre une langue étrangères ?</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            Aujourd'hui, la maîtrise d'une ou plusieurs langues étrangères est devenue indispensable, pour les entreprises comme pour les individus
                                            <em><a href="#">Lire suite</a></em>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">

                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">Souhaitez-vous retrouver la maîtrise d'une matière?</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            Que l'on ait 30, 40, 50 et même 60ans - les seniors ne sont pas excluts de l'apprentissage-, de nombreuses raisons peuvent pousser chaque apprenant
                                            à prendre des cours individuels pour apprendre de nouvelles compétences.
                                            <br> <em><a href="#">Lire suite</a></em>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">

                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">Souhaitez-vous devenir de meilleurs orateurs?</a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <strong>Monprofchezmoi</strong> vous accompagne dans l'apprentissage des techniques de Prise de parole en public sous toutes ses formes
                                            <br> <em><a href="#">Lire suite</a></em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 padding-0">
                    <div class="img-part media-icon orange-color" style="background:url("{{ absolute_url(asset('/assets/images/bg.jpg')) }}");">
                        <a class="popup-videos" href="https://www.youtube.com/watch?v=_Z0UPkRCSjo">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/lib/select2/css/select2.min.css')) }}">
    <style>
        .rs-banner.style1 {
            padding: 125px 0 425px;
            background: url({{ absolute_url(asset('upload/cover/'~ cover.media)) }});
            background-size: cover;
            background-position: center;
        }

        .rs-banner.style1 .banner-content {
            max-width: 1200px;
            margin: 0 auto;
        }

        .rs-banner.style1 .banner-content .banner-title {
            font-size: 35px;
            margin-bottom: 16px;
            color: white;
        }

        .search{
            background-color: #fff;
            border-radius: 10px;
        }
        .search .row{
            padding: 20px 5px;
        }
        .search select{
            font-size: 18px;
            display: inline-block;
        }
        .rs-banner.style1 .banner-content .desc {
            font-size: 25px;
            line-height: 30px;
            padding-top: 100px;
            color: var(--orange-color);
            font-weight: bold;
        }
        .rs-cta.main-home .partition-bg-wrap:after {
            background: url({{ absolute_url(asset('upload/cover/'~ cover.media)) }});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .rs-cta.main-home .partition-bg-wrap:before {
            background: url({{ absolute_url(asset('/assets/images/main-home.jpg')) }});
            background-size: cover;
            background-repeat: no-repeat;
            right: 0;
        }
    </style>
    <style>
        .rs-slider.style1 {
            position: relative;
        }
        .rs-slider.style1 .slider-content {
            padding: 250px 0;
        }
        .rs-slider.style1 .slider-content .sl-sub-title {
            font-size: 48px;
            line-height: 58px;
            font-family: 'Nunito', sans-serif;
            margin-bottom: 24px;
        }
        .rs-slider.style1 .slider-content .sl-title {
            font-size: 90px;
            line-height: 100px;
            margin-bottom: 39px;
            margin-left: -5px;
        }
        .rs-slider.style1 .slider-content.slide1 {
            background: url({{ absolute_url(asset('upload/cover/'~ cover.media)) }});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .rs-slider.style1 .slider-content.slide2 {
            background: url({{ absolute_url(asset('upload/cover/'~ cover.media)) }});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .rs-slider.style1 .owl-nav .owl-next,
        .rs-slider.style1 .owl-nav .owl-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            width: 42px;
            height: 42px;
            line-height: 42px;
            border-radius: 50%;
            background: #21a7d0;
            text-align: center;
            color: #ffffff;
            transition: all 0.5s;
            transition-delay: 0.70s;
            opacity: 0;
            visibility: hidden;
        }
        .rs-slider.style1 .owl-nav .owl-next i:before,
        .rs-slider.style1 .owl-nav .owl-prev i:before {
            content: "\f138";
            font-family: Flaticon;
        }
        .rs-slider.style1 .owl-nav .owl-next {
            right: 30px;
            left: unset;
        }
        .rs-slider.style1 .owl-nav .owl-next i:before {
            content: "\f137";
        }
        .rs-slider.style1:hover .owl-nav .owl-next,
        .rs-slider.style1:hover .owl-nav .owl-prev {
            left: 50px;
            transition-delay: 0s;
            visibility: visible;
            opacity: 1;
        }
        .rs-slider.style1:hover .owl-nav .owl-next {
            right: 50px;
            left: unset;
        }
        .rs-slider.style2 .slide-part {
            background: #f9f8f8;
            padding: 100px 0 0;
        }
        .rs-slider.style2 .slide-part .img-part {
            margin-bottom: -80px;
            overflow: hidden;
        }
        .rs-slider.style2 .slide-part .content {
            padding: 100px 0 100px;
        }
        .rs-slider.style2 .slide-part .content .title {
            font-size: 55px;
            line-height: 70px;
            font-family: 'Nunito', sans-serif;
            margin-bottom: 40px;
            color: #031a3d;
        }
        .rs-slider.style2 .slide-part .content .sub-title {
            font-size: 16px;
            line-height: 25px;
            color: #ff5421;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        .rs-slider.style2 .owl-nav .owl-next,
        .rs-slider.style2 .owl-nav .owl-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            width: 42px;
            height: 42px;
            line-height: 42px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            text-align: center;
            color: #ffffff;
            transition: all 0.5s;
            transition-delay: 0.70s;
            opacity: 0;
            visibility: hidden;
        }
        .rs-slider.style2 .owl-nav .owl-next i:before,
        .rs-slider.style2 .owl-nav .owl-prev i:before {
            content: "\f138";
            font-family: Flaticon;
        }
        .rs-slider.style2 .owl-nav .owl-next:hover,
        .rs-slider.style2 .owl-nav .owl-prev:hover {
            background: #ff5421;
            color: #ffffff;
        }
        .rs-slider.style2 .owl-nav .owl-next {
            right: 30px;
            left: unset;
        }
        .rs-slider.style2 .owl-nav .owl-next i:before {
            content: "\f137";
        }
        .rs-slider.style2:hover .owl-nav .owl-next,
        .rs-slider.style2:hover .owl-nav .owl-prev {
            left: 50px;
            transition-delay: 0s;
            visibility: visible;
            opacity: 1;
        }
        .rs-slider.style2:hover .owl-nav .owl-next {
            right: 50px;
            left: unset;
        }
        .rs-slider.style2 .owl-carousel .owl-stage-outer {
            padding: 0 0 80px;
            margin: 0 0 -80px;
        }
        .rs-slider.main-home {
            position: relative;
        }
        .rs-slider.main-home .slider-content {
            text-align: center;
        }
        .rs-slider.main-home .slider-content .content-part {
            padding: 250px 35px 400px;
            max-width: 900px;
            margin: 0 auto;
        }
        .rs-slider.main-home .slider-content .content-part .sl-sub-title {
            font-size: 22px;
            line-height: 30px;
            font-weight: 500;
            color: #ff5421;
            margin-bottom: 22px;
            text-transform: uppercase;
        }
        .rs-slider.main-home .slider-content .content-part .sl-title {
            font-size: 70px;
            line-height: 80px;
            font-weight: 700;
            color: #ffffff;
            margin-bottom: 65px;
        }
        .rs-slider.main-home .slider-content.slide1 {
            background: url(assets/images/slider/main-home/1.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .rs-slider.main-home .slider-content.slide2 {
            background: url(assets/images/slider/main-home/2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .rs-slider.main-home .owl-nav .owl-next,
        .rs-slider.main-home .owl-nav .owl-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            width: 42px;
            height: 42px;
            line-height: 42px;
            border-radius: 50%;
            background: #ff5421;
            text-align: center;
            color: #ffffff;
            transition: all 0.5s;
            transition-delay: 0.70s;
            opacity: 0;
            visibility: hidden;
        }
        .rs-slider.main-home .owl-nav .owl-next i:before,
        .rs-slider.main-home .owl-nav .owl-prev i:before {
            content: "\f138";
            font-family: Flaticon;
        }
        .rs-slider.main-home .owl-nav .owl-next:hover,
        .rs-slider.main-home .owl-nav .owl-prev:hover {
            background: #ed3600;
        }
        .rs-slider.main-home .owl-nav .owl-next {
            right: 30px;
            left: unset;
        }
        .rs-slider.main-home .owl-nav .owl-next i:before {
            content: "\f137";
        }
        .rs-slider.main-home:hover .owl-nav .owl-next,
        .rs-slider.main-home:hover .owl-nav .owl-prev {
            left: 50px;
            transition-delay: 0s;
            visibility: visible;
            opacity: 1;
        }
        .rs-slider.main-home:hover .owl-nav .owl-next {
            right: 50px;
            left: unset;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('backoffice/lib/select2/js/select2.min.js')) }}"></script>
    <script>
        $('.select').select2();
    </script>
    <script>
        $(document).ready(function () {
            $('#domaine').on('change', function () {
                let domaineId = $(this).val();
                $.get("{{ absolute_url(path('frontend_filtre_accueil')) }}", {value: domaineId})
                .done(function (data) {
                    if (data){ console.log(data)
                        $('#niveau').empty();
                        $('#niveau').append("<option value=''>-</option>")
                        for (let i = 0; i < data.length; i++){
                            const item = data[i]; console.log(item)
                            $('#niveau').append(
                                    "<option value="+item.id+">"+item.libelle+"</option>"
                            )
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}

{% block meta %}
    <meta name="keywords" content="soutien, scolaire, cours, adulte"  />
    <meta name="description" content="Quels que soient vos objectifs ou votre niveau, les cours de soutien Monprofchezmoi offrent à l'élève un enseignement totalement personnalisé afin que chacun puisse avancer à son rythme." />
    <meta name="revisit" content="7 days" />
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="MONPROFCHEZMOI, Delrodie AMOIKON">
    <meta name="Copyright" content="{{ absolute_url(path('app_home')) }}">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global" />
    <meta name="Audience" content="All" />
    <meta name="Robots" content="full">

    <link rel="canonical" href="{{ absolute_url(path('app_home')) }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="Item" />
    <meta property="og:title" content="Mon prof chez moi - soutien scolaire" />
    <meta property="og:description" content="Quels que soient vos objectifs ou votre niveau, les cours de soutien Monprofchezmoi offrent à l'élève un enseignement totalement personnalisé afin que chacun puisse avancer à son rythme." />
    <meta property="og:url" content="{{ absolute_url(path('app_home')) }}" />
    <meta property="og:site_name" content="MONPROFCHEZMOI" />
    <meta property="article:section" content="Item" />
    <meta property="article:published_time" content="2021-09-07T15:25:59+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('assets/images/logo2_01.png')) }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Quels que soient vos objectifs ou votre niveau, les cours de soutien Monprofchezmoi offrent à l'élève un enseignement totalement personnalisé afin que chacun puisse avancer à son rythme."/>
    <meta name="twitter:title" content="Mon prof chez moi - soutien scolaire"/>
    <meta name="twitter:domain" content="MONPROFCHEZMOI"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('assets/images/logo2_01.png')) }}"/>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ absolute_url(path('app_home')) }}"
            },
            "headline": "Mon prof chez moi - soutien scolaire",
            "image": [
                "{{ absolute_url(asset('assets/images/logo2_01.png')) }}",
                "{{ absolute_url(asset('assets/images/logo2_01.png')) }}"
            ],
            "datePublished": "2021-09-07T15:25:59+00:00",
            "dateModified": "2021-09-07T15:25:59+00:00",
            "author": {
                "@type": "Person",
                "name": "Delrodie AMOIKON"
            },
            "publisher": {
                "@type": "Organization",
                "name": "MONPROFCHEZMOI",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ absolute_url(asset('assets/images/logo2_01.png')) }}"
                }
            },
            "description": "Quels que soient vos objectifs ou votre niveau, les cours de soutien Monprofchezmoi offrent à l'élève un enseignement totalement personnalisé afin que chacun puisse avancer à son rythme."
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "{{ absolute_url(path('app_home')) }}",
            "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+225 22 00 68 41",
                "contactType": "Direction",
                "contactOption": "TollFree",
                "areaServed": "FR"
            },{
                "@type": "ContactPoint",
                "telephone": "+225 22 00 68 41",
                "contactType": "Direction",
                "contactOption": "TollFree",
                "areaServed": [
                    "CI",
                    "FR"
                ],
                "availableLanguage": [
                    "French",
                    "English"
                ]
            }]
        }
    </script>
{% endblock %}
