{{ form_start(form) }}
<div class="row">
    <div class="col-sm-10 offset-sm-1">
        <div class="row form-group">
            <div class="col-sm-12">{{ form_row(form.titre) }}</div>
            <div class="col-sm-12">{{ form_row(form.contenu) }}</div>
            <div class="col-sm-6 mb-3">{{ form_row(form.media) }}</div>
            {% if recrutement.media %}
                <div class="col-sm-6 mb-3 mt-1">
                    <img src="{{ absolute_url(asset('upload/recrutement/'~ recrutement.media)) }}" alt="{{ recrutement.titre }}" class="img-thumbnail" width="250" style="float: left; margin-right: 20px;">
                </div>
            {% endif %}
            <div class="col-sm-12">{{ form_row(form.tags) }}</div>
        </div>
    </div>
</div>
{{ form_widget(form) }}
<div class="text-right mt-5">
    <a href="{{ path('backend_recrutement_index') }}" class="btn btn-outline-secondary">Annuler</a>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
