<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel4">{{ recrutement.titre }}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i data-feather="x"></i></span>
            </button>
        </div>
        <div class="modal-body">
            <p class="mt-3">
                {% if recrutement.media %}
                    <img src="{{ absolute_url(asset('upload/recrutement/'~ recrutement.media)) }}" alt="{{ recrutement.titre }}" class="img-thumbnail" width="300" style="float: left; margin-right: 20px;">
                {% endif %}
                {{ recrutement.contenu|raw }}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            {{ include('backend_recrutement/_delete_form.html.twig') }}
            <a href="{{ path('backend_recrutement_edit', {'id': recrutement.id}) }}" class="btn btn-primary"> Modifier</a>
        </div>
    </div>
</div>
