<div class="row">
    <div class="col-md-10">
        <div class="blog-full">
            <!--<h2 class="title mb-40">Contactez-nous</h2>
			<div class="blog-desc mb-35 text-justify">
				<h6>Informations</h6>-->
            <p>
                Les champs marqués d'un astérisque (*) sont obligatoires. <br>
                Merci de renseigner le(s) numéro(s) de téléphone sans espace.
                Vous serez recontacté très rapidement pour vous donner plus d'informations consernant votre demande.
            </p>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="rs-quick-contact new-style">
                    {{ form_start(form) }}
                    <div class="row form-group">
                        <div class="col-12 mt-3">{{ form_row(form.nom) }}</div>
                        <div class="col-12 mt-3">{{ form_row(form.prenoms) }}</div>
                        <div class="col-12 mt-3">{{ form_row(form.telephone) }}</div>
                        <div class="col-12 mt-3">{{ form_row(form.email) }}</div>
                        <div class="col-12 mt-3">{{ form_row(form.domicile) }}</div>
                        <div class="col-12 mt-3">{{ form_row(form.demande) }}</div>
                    </div>
                    {{ form_widget(form) }}
                    <div class="form-group mt-5">
                        <button class="btn btn-primary btn-block">{{ button_label|default('Envoyer') }}</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
</div>
