{{ form_start(form) }}
    <div class="row form-group">
        <div class="col-sm-5">{{ form_row(form.menu) }}</div>
        <div class="col-sm-7">{{ form_row(form.titre) }}</div>
        <div class="col-sm-12 mt-3">{{ form_row(form.contenu) }}</div>
        <div class="col-sm-12 mt-3">{{ form_row(form.tags) }}</div>
        <div class="col-sm-6 mt-3">{{ form_row(form.media) }}</div>
        {% if adulte.media %}
            <div class="col-sm-6 mb-3 mt-3">
                <img src="{{ absolute_url(asset('upload/adulte/'~ adulte.media)) }}" alt="{{ adulte.titre }}" class="img-thumbnail" width="250" style="float: left; margin-right: 20px;">
            </div>
        {% endif %}
    </div>
    {{ form_widget(form) }}
    <div class="text-right mt-5">
        <a href="{{ path('backend_adulte_index') }}" class="btn btn-outline-secondary">Annuler</a>
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
