{% extends 'base.html.twig' %}

{% block title %}{{ soutien.titre }}{% endblock %}

{% block body %}

    <div class="rs-inner-blog orange-color pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 pr-50 md-pr-15">
                    <div class="blog-deatails">
                        <div class="bs-img">
                            <a href="#"><img src="{{ absolute_url(asset('upload/soutien/'~ soutien.media)) }}" alt="{{ soutien.titre }}" width="800"></a>
                        </div>
                        <div class="blog-full">
                            <h2 class="title mb-40">{{ soutien.titre }}</h2>
                            <div class="blog-desc mb-35 text-justify">
                                {{ soutien.contenu|raw }}
                            </div>
                        </div>
                    </div>
                    {% if suivant %}
                        <div class="ps-navigation">
                            <ul>
                                <li><a href="{{ path('frontend_soutien_show', {'slug': suivant.slug}) }}"><span class="next-link">{{ suivant.titre}} <i class="flaticon-next"></i></span></a></li>
                            </ul>
                        </div>
                    {% endif %}

                </div>
                <div class="col-lg-4 col-md-12 order-last">
                    <div class="widget-area">
                        <div class="recent-posts mb-50">
                            <h3 class="widget-title">Nous suivre</h3>
                            <div id="fb-root"></div>
                            <div class="fb-page" data-href="https://www.facebook.com/Monprofchezmoi/" data-tabs="timeline" data-width="" data-height="1500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Monprofchezmoi/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Monprofchezmoi/">Monprofchezmoi</a></blockquote></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block menu %}
    {{ include('menu_page.html.twig') }}
{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ soutien.tags }}"  />
    <meta name="description" content="{{ soutien.resume|raw }}" />
    <meta name="revisit" content="7 days" />
    <meta name="revisit-after" content="7 days">
    <meta name="Author" content="MONPROFCHEZMOI, Delrodie AMOIKON">
    <meta name="Copyright" content="{{ absolute_url(path('app_home')) }}">
    <meta name="Content-Language" content="FR">
    <meta name="distribution" content="global" />
    <meta name="Audience" content="All" />
    <meta name="Robots" content="full">

    <link rel="canonical" href="{{ absolute_url(path('frontend_soutien_show', {'slug': soutien.slug})) }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="Item" />
    <meta property="og:title" content="Soutien {{ soutien.titre }}" />
    <meta property="og:description" content="{{ soutien.resume|raw }}" />
    <meta property="og:url" content="{{ absolute_url(path('frontend_soutien_show', {'slug': soutien.slug})) }}" />
    <meta property="og:site_name" content="MONPROFCHEZMOI" />
    <meta property="article:section" content="Item" />
    <meta property="article:published_time" content="2021-09-07T15:25:59+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('upload/soutien/'~ soutien.media)) }}" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ soutien.resume }}"/>
    <meta name="twitter:title" content="Soutien {{ soutien.titre }}"/>
    <meta name="twitter:domain" content="MONPROFCHEZMOI"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('upload/soutien/'~ soutien.media)) }}"/>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ absolute_url(path('app_home')) }}"
            },
            "headline": "{{ soutien.titre }}",
            "image": [
                "{{ absolute_url(asset('upload/soutien/'~ soutien.media)) }}",
                "{{ absolute_url(asset('assets/images/logo2_01.png')) }}"
            ],
            "datePublished": "2021-09-07T15:25:59+00:00",
            "dateModified": "2021-09-07T15:25:59+00:00",
            "author": {
                "@type": "Person",
                "name": "Delrodie AMOIKON"
            },
            "publisher": {
                "@type": "Organization",
                "name": "MONPROFCHEZMOI",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ absolute_url(asset('assets/images/logo2_01.png')) }}"
                }
            },
            "description": "{{ soutien.resume|raw }}"
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "{{ absolute_url(path('app_home')) }}",
            "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+225 22 00 68 41",
                "contactType": "Direction",
                "contactOption": "TollFree",
                "areaServed": "FR"
            },{
                "@type": "ContactPoint",
                "telephone": "+225 22 00 68 41",
                "contactType": "Direction",
                "contactOption": "TollFree",
                "areaServed": [
                    "CI",
                    "FR"
                ],
                "availableLanguage": [
                    "French",
                    "English"
                ]
            }]
        }
    </script>
{% endblock %}
